<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Movies</title>
    <link rel="stylesheet" href="styles.css"> <!-- Linking styles.css -->
</head>
<body>
    <div class="heading">
        <h1>Welcome to</h1>
        <h1>Flick Review</h1>
    </div>
</body>
</html>
