flick-review/node_modules
.env
/Users/bhaskartejapidugu/Documents/GitHub/Flick_Review/flick-review/config/flickreview-925a7-firebase-adminsdk-fbsvc-db469c80e6.json
config/flickreview-925a7-firebase-adminsdk-fbsvc-db469c80e6.json
C:\Users\nikali\Flick_Review\.gitignore
flick-review\config\firebaseServiceAccountKey.json
node_modules/
C:\Users\nikal\Flick_Review\flick-review\config\firebaseServiceAccountKey.json